<ul class="nav justify-content-end">
    <li class="nav-item">
        <a class="nav-link active" href="/dashboard">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="/profiles/update">Profile</a>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      Categories
    </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <% if(category) { %>
                <% category.forEach(m => { %>
                    <li>
                        <a class="dropdown-item" href="/categories/<%-m.name%>">
                            <%-m.name%>
                        </a>
                    </li>

                    <% }) %>
                        <% } %>
        </ul>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/products">Add Post</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/categories">Add Categories</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/products/draft">Draft</a>
    </li>
    .;
    <li class="nav-item">
        <a class="nav-link" href="/products/public">Public</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/users/logout">Logout</a>
    </li>
</ul>
<h1 class="mt-4">Add Categories Page</h1>

<div class="ui container">
    <form action="/categories/add" class="ui form" method="post">
        <div class="ui two fields">
            <div class="field">
                <label for="name">Categories Name</label>
                <input type="text" name="name" />
            </div>
        </div>
        <!-- HERE WE NEED TO USE FILEPOND -->
        <div class="ui field">
            <label for="img">Image</label>
            <input type="file" name="img" id="img" class="filepond filepond--item" />
        </div>
        <button class="ui fluid blue button" id="btnAddPost" type="submit">
      Save
    </button>
    </form>
</div>

<br /><br />
<div class="ui container">
    <% if(category) { %>
        <div class="ui small stackable images">
            <% category.forEach(m => { %>
                <img src="<%= m.coverImagePath %>" alt="" class="ui image" />
                <% }) %>
        </div>
        <% } %>
</div>